modal-newlist(spat-animation='bottom')
  div.s-full.bg-maingray.f.flex-column(ref='modal')
    div(data-is='module-header', title='リスト編集', close='{close}')
    div.w-full.px30.pt30
      div.fs28.bold.mb20 TITLE:
      input.input.w-full.mb20.bg-white(ref='title', placeholder='イカしたタイトルをつけよう')
      div.fs28.bold.mb20 DESCRIPTION:
      textarea.input.w-full.mb20.bg-white.h200(ref='description', placeholder='友達も思わずマネしたくなる様な説明を書いてみよう')
      div.w-full.py10(onclick='{edit}')
        div.mxa.w200.f.fh.bg-sub.rounded-full.cursor-pointer
          span.text-white.bold.py20 トレーニングを選ぶ

  script.
    this.edit = () => {
      if (this.refs.title.value === '') {
        spat.modal.alert('タイトルを入力してください')
        return;
      }
      this.trigger('goEdit');
    };