page-index
  //- todo-タイマー機能実装
  div.flex.flex-column.h-full
    module-header(title="TODAY'S WORK OUT", add='{true}')
    div.h-full.overflow-scroll(ref='body')
      div.s-full.f.fh.py20(if='{!todays_menu.length > 0}') 筋トレしろ
      div.container.px20.pt20
        div(data-is='atom-removable', each='{item in todays_menu}', if='{todays_menu.length > 0}', item='{item}')
          div(data-is='item-training', item='{opts.item}')
    module-tabbar

  script.
    this.on('mount', async () => {
      this.todays_menu = [];
    });

    this.on('openModal', ()=> {
      var modal = spat.modal.open('modal-menu-select', {contents: this.todays_menu});
      modal.on('add', (item) => {
        if (item.length > 1) {
          item.forEach(item => {
            this.todays_menu.push(item);
          });
        } else {
          this.todays_menu.push(item[0]);
        }
        spat.modal.alert('追加しました');
        modal.close();
        this.update();
      });
    });

    this.remove = (item) => {
      this.todays_menu = this.todays_menu.filter(menu => menu.id !== item.id);
      spat.modal.alert('削除しました');
      this.update();
    };