page-training-single
  div.flex.flex-column.h-full
    module-header(title="{item.label}", back='{true}')
    div.px20.pt20.w-full.f.flex-column
      img.mxa.w200.mb10(src='{item.image}')
      div.fs12.lh14.mb20 {item.discription}
      div.bold.fs20.mb20 LOG
      div.border.bw6.rounded-10.p12.mb20
        div.f.fs18.border-bottom(if='{log}', each='{log in item.logs}')
          p.mr6 {log.day}
          p.mr6 {log.weight}kg
          p {log.rep}回×{log.set}セット
        div(if='{!item.logs}') まだありません。
      div.w-full(data-is='module-chart', item='{item.logs}')

  script.
    //- 仮の処理データ連携後実装
    this.on('show', (e) => {
      this.dummies.forEach(dummy => {
        var item = dummy.contents.find(content => content.id === e.opts.id);
        if(item) { 
          this.item = item;
        }
      });
    });

    this.dummies = [
      {
        label: '腕',
        image: '/static/images/sample.png',
        contents: [
          {
            id: '0',
            label: 'コンセントレーションカール',
            image: '/static/images/sample.png',
            discription: 'トレーニングの説明。トレーニングの説明。トレーニングの説明。トレーニングの説明。トレーニングの説明。トレーニングの説明。トレーニングの説明。トレーニングの説明。',
            logs: [
              {
                day: '2020/3/4',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/5',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/6',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/7',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/8',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/9',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/10',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/11',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/12',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/13',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/14',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/15',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/16',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/17',
                weight: '35',
                rep: '10',
                set: '4',
              },
              {
                day: '2020/3/18',
                weight: '35',
                rep: '10',
                set: '4',
              },
            ],
          },
          {
            id: '1',
            label: 'インクラインカール',
            image: '/static/images/sample.png',
          },
          {
            id: '2',
            label: 'ダンベルカール',
            image: '/static/images/sample.png',
          },
          {
            id: '3',
            label: 'アームカール',
            image: '/static/images/sample.png',
          },
          {
            id: '4',
            label: 'ダンベルフレンチプレス',
            image: '/static/images/sample.png',
          },
          {
            id: '5',
            label: 'トライセップスキックバック',
            image: '/static/images/sample.png',
          },
        ],
      },
      {
        label: '胸筋',
        image: '/static/images/sample.png',
        contents: [
          {
            id: '6',
            label: 'ベンチプレス',
            image: '/static/images/sample.png',
            history: {
              day: '2020/3/4',
              weight: '35kg',
              rep: '10',
              set: '4',
            },
          },
          {
            id: '7',
            label: 'インクラインダンベルプレス',
            image: '/static/images/sample.png',
          },
          {
            id: '8',
            label: 'ダンベルフライ',
            image: '/static/images/sample.png',
          },
          {
            id: '9',
            label: 'ダンベルプルオーバー',
            image: '/static/images/sample.png',
          },
          {
            id: '10',
            label: 'インクラインベンチプレス',
            image: '/static/images/sample.png',
          },
          {
            id: '11',
            label: 'フライ',
            image: '/static/images/sample.png',
          },
        ],
      },
      {
        label: '腹筋',
        image: '/static/images/sample.png',
        contents: [
          {
            id: '12',
            label: 'ウェイテッドクランチ',
            image: '/static/images/sample.png',
            history: {
              day: '2020/3/4',
              weight: '35kg',
              rep: '10',
              set: '4',
            },
          },
          {
            id: '13',
            label: 'サイドべント',
            image: '/static/images/sample.png',
          },
          {
            id: '14',
            label: 'シットアップ',
            image: '/static/images/sample.png',
          },
          {
            id: '15',
            label: 'アブローラー',
            image: '/static/images/sample.png',
          },
          {
            id: '16',
            label: 'アブクランチ',
            image: '/static/images/sample.png',
          },
        ],
      },
    ];

    this.mylist = [
      {
        label: 'ビッグ3',
        list_id: '0',
        contents: [
          {
            id: '6',
            label: 'ベンチプレス',
            image: '/static/images/sample.png',
            history: {
              day: '2020/3/4',
              weight: '35kg',
              rep: '10',
              set: '4',
            },
          },
          {
            id: '17',
            label: 'スクワット',
            image: '/static/images/sample.png',
          },
          {
            id: '18',
            label: 'デッドリフト',
            image: '/static/images/sample.png',
          },
        ],
      },
      {
        label: 'my胸筋セット',
        list_id: '1',
        contents: [
          {
            id: '6',
            label: 'ベンチプレス',
            image: '/static/images/sample.png',
            history: {
              day: '2020/3/4',
              weight: '35kg',
              rep: '10',
              set: '4',
            },
          },
          {
            id: '10',
            label: 'インクラインベンチプレス',
            image: '/static/images/sample.png',
          },
          {
            id: '8',
            label: 'ダンベルフライ',
            image: '/static/images/sample.png',
          },
        ],
      },
    ];


