module-chart
  div.h250.relative.f.fh
    canvas.s-full(ref='chart')

  script.
    this.on('mount', () => {
      if (!this.opts.item) {
        this.mount();
        return;
      }

      //- 計算用変数を用意
      var indexForCalc = '';
      var weightForCalc = '';
      //- 直近1年表示の時はdataプロパティがないので、条件分岐
      this.weight = this.opts.item.map(item => {
        if (item.data.type === "normal" || item.data.showYear) return item.data.weight;
        else {
          //- 重量変動の場合は最大値をチャートに表示
          var weights = item.data.trainings.map(item => item.weight);
          //- あとでrmの変更のために、indexを保存
          weightForCalc = Math.max.apply(null, weights);
          indexForCalc = weights.indexOf(String(weightForCalc));
          return weightForCalc;
        }
      });
      this.dateLabel = this.opts.item.map(item => {
        return item.data.showYear ? item.data.day : moment(+item.data.done_at).format('MM/DD');
      });
      var min = Math.floor(Math.min.apply(null, this.weight) / 10) * 10 - 10;
      //- rmの計算方法：（最大重量）＝（使用重量）×｛1＋（reps÷40）｝
      this.rms = this.opts.item.map(item => {
        if (item.data.type === "normal") return Math.round(item.data.weight * (1 + (item.data.rep / 40)));
        else return Math.round(weightForCalc * (1 + (item.data.trainings[indexForCalc].rep / 40)));
      });
      var max = Math.floor(Math.max.apply(null, this.rms) / 10) * 10 + 10;
      max = max - min > 40 ? max : min + 40;

      var ctx = this.refs.chart;
      var trainingChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: this.dateLabel,
          datasets: [
            {
              label: '重量',
              data: this.weight,
              borderColor: '#FFAB0B',
              backgroundColor: 'transparent',
            },
            {
              label: 'RM',
              data: this.rms,
              borderColor: '#EF5052',
              backgroundColor: 'transparent',
            },
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: max,
                suggestedMin: min,
                stepSize: 10,
              }
            }]
          }
        }
      });
    });
