/*
  Icon Font: icons
*/

@font-face {
  font-family: "icons";
  src: url("./icons_63e199fc32abebfb3100f46da5ea703f.eot");
  src: url("./icons_63e199fc32abebfb3100f46da5ea703f.eot?#iefix") format("embedded-opentype"),
       url("./icons_63e199fc32abebfb3100f46da5ea703f.woff2") format("woff2"),
       url("./icons_63e199fc32abebfb3100f46da5ea703f.woff") format("woff"),
       url("./icons_63e199fc32abebfb3100f46da5ea703f.ttf") format("truetype"),
       url("./icons_63e199fc32abebfb3100f46da5ea703f.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("./icons_63e199fc32abebfb3100f46da5ea703f.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow_left:before,
.icon-arrow_right:before,
.icon-bookmark:before,
.icon-check_stroke:before,
.icon-home:before,
.icon-menu:before,
.icon-pen:before,
.icon-search:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow_left:before { content: "\f100"; }
.icon-arrow_right:before { content: "\f101"; }
.icon-bookmark:before { content: "\f102"; }
.icon-check_stroke:before { content: "\f103"; }
.icon-home:before { content: "\f104"; }
.icon-menu:before { content: "\f105"; }
.icon-pen:before { content: "\f107"; }
.icon-search:before { content: "\f106"; }
