doctype html

html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/website#")

    | !{renderer.head()}

  body
    | !{renderer.app()}
    | !{renderer.footer()}


  script.
    // navigator.userAgent に CordovaApplication/1.1.1 みたいな感じでバージョンが入っている
    if (navigator.userAgent.indexOf('CordovaApplication') !== -1) {
      var matcher = navigator.userAgent.match(/^.*CordovaApplication\/(.*)/);
      var version = (matcher) ? matcher[1] : null;
      
      // version があればそのバージョンに応じたフォルダを参照するようにする
      if (version) {
        document.write('<scri' + 'pt src="/plugins/cordova/' + uuaa.os.name.toLowerCase() + '/' + version + '/cordova.js"></scrip' + 't>');
      }
      else {
        document.write('<scri' + 'pt src="/plugins/cordova/' + uuaa.os.name.toLowerCase() + '/cordova.js"></scrip' + 't>');
      }
      
    }
    else {
      if (uuaa.cordova) {
        document.write('<scri' + 'pt src="/plugins/cordova/' + uuaa.os.name.toLowerCase() + '/cordova.js"></scrip' + 't>');
      }
    }
